[MASTER]
ignore=migrations,staticfiles

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    W0212,  # protected-access

[FORMAT]
max-line-length=100

[DESIGN]
max-args=7
max-attributes=10
